{% extends 'base.html' %}
{% block head %}
<title>Запрос №2</title>
<link href="/static/styles/query.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block query_active %} class="active" {% endblock %}
{% block body %}
<div class="queryHolder">
    <main id="main-holder">
        {% if items %}
        {% if items != 'None' %}
        <h3> Выполнен запрос </h3>
        <table class="table_price">
            <caption>Билеты</caption>
            <tr>
                <th>Номер билета</th>
                <td>Паспортные данные</td>
                <td>Полное имя</td>
                <td>Стоимость</td>
                <td>Дата продажи</td>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item["t_id"] }}</td>
                <td>{{ item["passportDetail"] }}</td>
                <td>{{ item["fullname"] }}</td>
                <td>{{ item["cost"] }} Р</td>
                <td>{{ item["saleDate"] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h3> Запрос выполнен, результатов нет </h3>
        {% endif %}
        {% else %}
        <ul>
            <h3> Показать все сведения о билетах, проданные в определенные даты. </h3>
            <form method="POST" action="">
                От<input type="date" name="date_start" placeholder="От">
                До<input type="date" name="date_end" placeholder="До">
                <input type="submit" value="Выполнить запрос">
            </form>
        </ul>
        {% endif %}
        <li><a href="{{ url_for('blueprint_query.query') }}">Назад</a></li>
    </main>

</div>
{% endblock %}