{% extends 'base.html' %}
{% block head %}
<link href="/static/styles/auth.css" rel="stylesheet" type="text/css">
<title>Аутентификация</title>

{% endblock %}
{% block auth_active %} class="active" {% endblock %}
{% block body %}
<div class="authHolder">
  <main id="main-holder">
    <h1 id="login-header">Авторизация</h1>
    <div class="fingerprint">
            <img src="/static/img/fingerprint.svg" width="60" height="60px"/>
    </div>
    {% if message %}
    <div id="login-error-msg-holder">
      <p id="login-error-msg">{{ message }} <span id="error-msg-second-line"></span></p>
    </div>
    {% endif %}
    <form method="POST" action=""  id="login-form">
      <input type="text" id="login" name="login" class="login-form-field" placeholder="Логин">
      <input type="password" name="password" id="password" class="login-form-field" placeholder="Пароль">
      <input type="submit" value="Войти" id="login-form-submit">
    </form>
      </main>
    </div>
{% endblock %}