{% extends 'base.html' %}
{% block head %}
<link href="/static/styles/auth.css" rel="stylesheet" type="text/css">
<title>Аутентификация</title>

{% endblock %}
{% block auth_active %} class="active" {% endblock %}
{% block body %}
<div class="authHolder">
  <main id="main-holder">
    <h1 id="login-header">Аутентификация</h1>
    <div class="fingerprint">
            <img src="/static/img/fingerprint.svg" width="60" height="60px"/>
    </div>
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Неверный логин <span id="error-msg-second-line">и/или пароль</span></p>
    </div>

    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Логин">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Пароль">
      <input type="submit" value="Войти" id="login-form-submit">
    </form>
</div>
  </main>
{% endblock %}